.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;
  min-height: 100vh;

  background-color: $background;

  .config,
  .display {
    margin: 10px;
    overflow: auto;
    min-width: 300px;
  }

  .config {
    flex: 1;
    max-width: 500px;
  }

  .display {
    flex: 2;
    max-width: 700px;

    height: fit-content;

    > * {
      background: white;
      padding: 10px 20px;
    }

    input,
    #json-pretty {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .tabs {
      padding: 0 0 10px 0;
      display: flex;

      .tab {
        flex: 1;
        padding: 20px;
        font-size: 16px;
        background: white;
        color: $blue;

        &.active {
          background: $blue;
          color: white;

          h2 {
            font-weight: bold;
          }
        }
      }
    }
  }
}
