.app-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;
  min-height: 100vh;

  background-color: $background;

  .config,
  .display {
    margin: 10px;
    overflow: auto;
    min-width: 300px;
  }

  .config {
    flex: 1;
    max-width: 500px;
  }

  .display {
    flex: 2;
    max-width: 700px;

    height: fit-content;

    .result-block {
      background: white;
      padding: 10px 20px;

      input,
      #json-pretty {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
